body, html {
    font-family: Arial, sans-serif;
    background-color: #e1e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.profile img:hover {
    transform: scale(1.20);
}

/* General transition for all sections */
.skills, .languages, .summary, .education, .experience, .certificates, .projects {
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover effect for zoom and blur */
.skills:hover, .languages:hover, .summary:hover, .education:hover, .experience:hover, .certificates:hover, .projects:hover {
    transform: scale(1.03); /* Zoom in */
    filter: none; /* Ensure the hovered section is not blurred */
}

.resume-container:hover .skills, 
.resume-container:hover .languages, 
.resume-container:hover .summary, 
.resume-container:hover .education, 
.resume-container:hover .experience, 
.resume-container:hover .certificates, 
.resume-container:hover .profile, 
.resume-container:hover .projects {
    filter: blur(7px); /* Blur other sections */
}

/* Prevent blurring of the hovered section */
.resume-container:hover .skills:hover, 
.resume-container:hover .languages:hover, 
.resume-container:hover .summary:hover, 
.resume-container:hover .education:hover, 
.resume-container:hover .experience:hover, 
.resume-container:hover .certificates:hover, 
.resume-container:hover .profile:hover, 
.resume-container:hover .projects:hover {
    filter: none; /* Remove blur from hovered section */
}

.header {
    position: absolute;
    display: flex;
    top: -33px;
    left: 0;
    z-index: 1;
    width: 100%;
}

@keyframes fillRed {
    0% { clip-path: inset(0% 100% 0% 0%); fill: transparent; }
    100% { clip-path: inset(0% 0% 0% 0%); fill: #a71e3e; }
}

@keyframes fillBlue {
    0% { clip-path: inset(0% 0% 0% 100%); fill: transparent; }
    100% { clip-path: inset(0% 0% 0% 0%); fill: #20364e; }
}



.left-column {
    overflow: hidden; /* Prevent text overflow */
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed for spacing */
    word-break: break-word; /* Handle long text */
}

.info-row i {
    margin-right: 10px; /* Adjust as needed for spacing */
    align-self: flex-start; /* Align icons to the start */
    margin-top: auto;
    margin-bottom: auto;
}

.info-row a, .info-row span, .info-row small {
    flex: 1; /* Ensures the text takes up the remaining space */
    text-align: left;
}

.profile-wrapper {
    position: relative;
    z-index: 2; /* Ensure profile wrapper is above the header */
    text-align: center;
}

a:link {
    color: rgb(87, 48, 67);
    background-color: transparent;
    text-decoration: none;
}

.resume-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.707);
    background-color: #fff;
    overflow: hidden;
}

.left-column, .right-column {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
}

.left-column {
    background-color: #fff; /* Initially white */
    animation: yellowFade 2s forwards;
    animation-delay: 0.5s;
}

@keyframes yellowFade {
    from {
        background-color: #fff;
    }
    to {
        background-color: #efe08d;
    }
}

.right-column {
    background-color: #fff;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Ensures the image remains circular */
    display: block;
    margin: 0 auto 10px;
}

.profile h1 {
    text-align: center;
    line-height: 1;
}

.profile p {
    text-align: left;
    margin: 5px;
    line-height: 1.8;  
}

.profile i {
    margin-right: 10px;
}

h2 {
    background-color: #dedede9d;
    color: rgb(23, 0, 87);
    padding: 5px;
    margin: 0 0 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li, .languages ul li {
    margin-bottom: 10px;
}

.skills, .languages, .summary, .education, .experience, .certificates, .projects {
    margin-bottom: 20px;
}

.right-column p, .right-column ul li {
    margin: 10px 0 25px 0;
}

.right-column small {
    display: block;
    color: #1b0064;
}

.skills-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.skill-name {
    text-align: left;
    margin-right: 0px;
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    background: conic-gradient(#090342 calc(var(--percent) * 1%), #eeeeee 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
}

.circle[data-percent='90'] {
    --percent: 90;
}

.circle[data-percent='80'] {
    --percent: 80;
}

.circle[data-percent='70'] {
    --percent: 70;
}

.circle[data-percent='75'] {
    --percent: 75;
}

.circle[data-percent='85'] {
    --percent: 85;
}

.circle[data-percent='60'] {
    --percent: 60;
}

.circle[data-percent='65'] {
    --percent: 65;
}

.circle[data-percent='55'] {
    --percent: 55;
}

.languages ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.language-skill {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.language-icons {
    display: flex;
    gap: 5px;
    color: #090342;
}

/* Media Queries */
@media (min-width: 600px) {
    .resume-container {
        flex-direction: row;
    }

    .left-column {
        width: 35%;
    }

    .right-column {
        margin-top: 100px;
        width: 65%;
    }

    .profile img {
        width: 150px;
        height: 150px;
    }

    .circle {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .resume-container {
        flex-direction: column;
        width: 100%;
        margin: 0 10px;
    }

    .header {
        top: -41px;
    }

    .left-column, .right-column {
        width: 100%;
        padding: 15px;
    }

    .profile img {
        width: 150px;
        height: 150px;
        border-radius: 50%; /* Ensures the image remains circular */
    }

    h2 {
        font-size: 1.2em;
    }

    .skill-name {
        margin-right: 15px;
    }

    .skills-grid {
        gap: 15px;
    }

    .circle {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    .skill {
        justify-content: space-between;
    }
}

@media (min-width: 800px) {
    .skills-grid {
        flex-direction: column; /* Changed to column to maintain single column until wider */
    }

    .skill {
        width: 100%; /* Set to 100% to ensure uniform size */
        margin-bottom: 10px;
    }
}

@media (min-width: 900px) {
    .resume-container {
        flex-wrap: nowrap;
    }

    .skills-grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skill {
        width: calc(50% - 5px); /* Adjusted to fit two columns */
        margin-bottom: 10px;
    }
}
